.example-container {

  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-list-item {
  padding: 0;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 30px;
}

.example-sidenav {
  padding: 0px;
}

.example-spacer {
  flex: 1 1 auto;
}

//buttons

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
